@model IEnumerable<FaixaEtaria.Models.Pessoa>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create" class="btn btn-info">Cadastrar Pessoa</a>
</p>


<!--Os comando abaixo são da partial view -> os coamndo estão comentados -->
@*@await Html.PartialAsync("_Adolescente", Model)
    @await Html.PartialAsync("_Adultos", Model)
    @await Html.PartialAsync("_Idosos", Model)*@

<!--Comandos abaixo são relacionados com as Views Components-->
<!--Para criar um componete tem add uma pasta e uma vies 'Default' em "Shared"-->
@await Component.InvokeAsync("Adolescente");
@await Component.InvokeAsync("Adulto");
@await Component.InvokeAsync("Idoso");
